<a href="https://colab.research.google.com/github/MeikoFudo/Algorithms_and_data_structures/blob/main/Stack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Дан стек целых чисел. Удалить из него все отрицательные элементы.

In [1]:
def remove_negative(stack):
  
    temp_stack = []

    while len(stack) > 0:
        element = stack.pop()
        if element >= 0:
            temp_stack.append(element)
    stack.clear()

    while len(temp_stack) > 0:
        stack.append(temp_stack.pop())
        
    return stack

In [2]:
stack = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]
new_stack = remove_negative(stack)

new_stack

[1, 3, 5, 7, 9]

2. Дан стек целых чисел. Записать в дно стека сумму всех его элементов.

In [3]:
def sum_to_bottom(stack):

    total_sum = sum(stack)
    stack.insert(0, total_sum)

In [4]:
my_stack = [1, 2, 3, 4, 5]
sum_to_bottom(my_stack)

my_stack

[15, 1, 2, 3, 4, 5]

3. Дан стек из целых чисел. Поменять в данном стеке содержимое вершины и дна.

In [5]:
def swap_top_and_bottom(stack):

    top_element = stack.pop()
    bottom_element = stack.pop(0)
    stack.insert(0, top_element)
    stack.append(bottom_element)

In [6]:
my_stack = [1, 2, 3, 4, 5]
swap_top_and_bottom(my_stack)

my_stack

[5, 2, 3, 4, 1]

4. В стеке расположены целые числа. Записать содержимое стека в обратном порядке
в тот же стек

In [7]:
def reverse_stack(stack):

    temp_stack1 = []
    temp_stack2 = []

    while len(stack) > 0:
        element = stack.pop()
        temp_stack1.append(element)

    while len(temp_stack1) > 0:
        element = temp_stack1.pop()
        temp_stack2.append(element)

    while len(temp_stack2) > 0:
        element = temp_stack2.pop()
        stack.append(element)

In [8]:
my_stack = [1, 2, 3, 4, 5]
reverse_stack(my_stack)

my_stack

[5, 4, 3, 2, 1]

5. В стеке расположены целые числа. Поменять в стеке первый элемент со вторым,
третий с четвёртым, и так далее.

In [9]:
def swap_pairs(stack):

    for i in range(0, len(stack) - 1, 2):
        stack[i], stack[i+1] = stack[i+1], stack[i]

In [10]:
my_stack = [1, 2, 3, 4, 5, 6]
swap_pairs(my_stack)

my_stack

[2, 1, 4, 3, 6, 5]

6. В стеке расположены целые числа. Записать в этот же стек сначала элементы с
чётными номерами, затем с нечётными.

In [11]:
def reorder_stack(stack):
    even_stack = []  
    odd_stack = []  

    while stack:
        item = stack.pop()
        if len(stack) % 2 == 0:
            even_stack.append(item)
        else:
            odd_stack.append(item)

    while odd_stack:
        stack.append(odd_stack.pop())

    while even_stack:
        stack.append(even_stack.pop())

    return stack

In [12]:
my_stack = [1, 2, 3, 4, 5, 6]
reorder_stack(my_stack)

my_stack

[2, 4, 6, 1, 3, 5]

7. Стек заполнен целыми числами. Записать в стек сначала четные элементы, затем
нечётные.

In [13]:
def reorder_stack1(stack):
    even_stack = []  
    odd_stack = [] 

    while stack:
        item = stack.pop()
        if item % 2 == 0:
            even_stack.append(item)
        else:
            odd_stack.append(item)

    while odd_stack:
        stack.append(odd_stack.pop())

    while even_stack:
        stack.append(even_stack.pop())

    return stack

In [14]:
my_stack = [1, 2, 3, 4, 5, 6]
reorder_stack1(my_stack)

my_stack

[1, 3, 5, 2, 4, 6]

8. Дан стек, заполненный целыми числами. Найти максимальный и минимальный
элементы. Переместить максимальный элемент в дно стека, минимальный – в
вершину.

In [15]:
def max_min_stack(stack):
    max_item = float(-100000000)  
    min_item = float(100000000)  

    for item in stack:
        if item > max_item:
            max_item = item
        if item < min_item:
            min_item = item

    stack.remove(max_item)
    stack.append(max_item)

    stack.remove(min_item)
    stack.insert(0, min_item)

    return stack

In [16]:
my_stack = [1, 2, 3, 7, 4, 5, 6]
max_min_stack(my_stack)

my_stack

[1, 2, 3, 4, 5, 6, 7]